<footer class="bg-gray-800 pt-8 pb-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
        <div class="px-5 py-2">
          <a href="/" class="text-gray-300 hover:text-white">
            Home
          </a>
        </div>
        <div class="px-5 py-2">
          <a href="/users" class="text-gray-300 hover:text-white">
            Users
          </a>
        </div>
        <div class="px-5 py-2">
          <a href="/products" class="text-gray-300 hover:text-white">
            Products
          </a>
        </div>
        <div class="px-5 py-2">
          <a href="/dogs" class="text-gray-300 hover:text-white">
            Dogs
          </a>
        </div>
      </nav>
      <div class="mt-8 flex justify-center space-x-6">
        <a href="#" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">Facebook</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17.82 2H6.18C4.76 2 3.61 3.11 3.61 4.52L3.62 19.48C3.62 20.89 4.76 22 6.18 22H12.57V14.24H9.89V11.01H12.57V8.79C12.57 6.87 13.77 5.88 15.22 5.88C15.9 5.88 16.57 5.99 16.57 5.99V8.28H15.44C14.52 8.28 13.93 8.87 13.93 9.79V11H16.47L16.1 14.24H13.93V22H17.82C19.24 22 20.39 20.89 20.39 19.48V4.52C20.39 3.11 19.24 2 17.82 2Z"/></svg>
        </a>
  
        <a href="#" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M23.9983 4.56542C23.0919 5.02527 22.1188 5.34821 21.0966 5.52108C22.14 4.91906 22.9825 3.94167 23.4433 2.76792C22.4558 3.29271 21.3925 3.64792 20.2692 3.80417C19.3558 2.81458 18.005 2.25 16.5275 2
  